@{
    ViewData["Title"] = "About Project";
}

<div class="text-center">
    <br /><br />
    <h1>Job Application Dev Assignment</h1>
    <h1>By Anucha Chaiban</h1>
    <br />
    # ## ### ##### ### ## #
    <h1>Special Thanks</h1>
    <h1>Mildronize</h1>
    
</div>
